/node_modules
.env
.expo
.gradle
.idea
.vscode
.DS_Store
.env.local
.env.production
.env.development
.env.local.example
.env.production.example
.env.development.example
.env.example
.env.example.local
.env.example.production
.env.example.development